<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card">
    <div class="header">
    
      <div class="avatar">
        <img src="assets/image/18.jpg" alt="">
      </div>
    </div>
  </div>
    
  <div class="card-body">
    <div class="user-meta ion-text-center">
      <h3 class="name"></h3>
      
      
    </div>
  <ion-button expand="medium" color="primary">Twitter: Clarissa08</ion-button>
  <br>
  <ion-button expand="medium" color="success">Instagram: Clarissa08</ion-button>
  <br>
  <ion-button  expand="medium" color="danger">Gmail: clarissagrace.colanta@evsu.edu.ph</ion-button>
  <br>
  <ion-button expand="medium" color="dark">Tiktok: Clarissa09</ion-button>

  <br><br><br>
  <ion-button color="light">Copyright@2021||Clarissa</ion-button>
  </div>


  
</ion-content>
